{% extends 'base.html.twig' %}

{% block title %}Projets index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center m-3">
        <h1> Liste de Projets</h1>
    </div>

    <div class="btn btn-secondary mx-4">
        <a style="text-decoration: none;" href="{{ path('app_projets_new') }}">Create new</a>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <table class="table table-dark w-75">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>DateDebut</th>
                    <th>Contenu</th>
                    <th>DateFin</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for projet in projets %}
                <tr>
                    <td>{{ projet.id }}</td>
                    <td>{{ projet.titre }}</td>
                    <td>{{ projet.dateDebut ? projet.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ projet.contenu }}</td>
                    <td>{{ projet.dateFin ? projet.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_projets_show', {'id': projet.id}) }}">show</a>
                        <a href="{{ path('app_projets_edit', {'id': projet.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
