{% extends 'base.html.twig' %}

{% block title %}Votre Projets{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center m-3">
        <h1>Votre Projet</h1>
    </div>


    <div class="d-flex justify-content-evenly">
        <div class="btn btn-secondary "  >
            <a style="text-decoration: none;" href="{{path('app_projets_affecter', {'id' : projet.id})}}">
                Affecter
            </a>
        </div>
        <div class="btn btn-secondary">
            <a style="text-decoration: none;" href="{{ path('app_projets_index') }}">Retour</a>
        </div>
        <div class="btn btn-secondary">
            <a style="text-decoration: none;" href="{{ path('app_projets_edit', {'id': projet.id}) }}">Modifier</a>
        </div>

        {{ include('projets/deleteProjets.html.twig') }}
    </div>
    <br>
    <div class="d-flex justify-content-center align-items-center">
        <table class="table table-dark w-75">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ projet.titre }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ projet.dateDebut ? projet.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ projet.contenu }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ projet.dateFin ? projet.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
        </table>
    </div>


{% endblock %}
